doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    title Playwright Custom HTML Elements
    meta(name='description', contents='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
  body
    include ../mixins/_index
